swagger: "2.0"
info:
  description: "API Document for Employee management system"
  version: "2.0"
  title: "Employee Management"
host: "employeemanagement.com"
basePath: "/v2"
paths:
  /reqaccountsettemppassword:
    get:
      summary: "Entity to be fetched is ReqAccountSetTempPassword"
      description: "ReqAccountSetTempPassword Entity to be fetched"
      operationId: "getOperationReqAccountSetTempPassword"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqAccountSetTempPassword"
    post:
      summary: "To Create a new record for the entity: ReqAccountSetTempPassword"
      description: "ReqAccountSetTempPasswordto be posted"
      operationId: "postOperationReqAccountSetTempPassword"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqAccountSetTempPassword"
        in: "body"
        description: "ReqAccountSetTempPasswordto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountSetTempPassword"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqAccountSetTempPassword"
      description: "ReqAccountSetTempPasswordto be Updated"
      operationId: "updateReqAccountSetTempPassword"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqAccountSetTempPasswordobject that needs to be added to the\
          \ store"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountSetTempPassword"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ReqAccountSetTempPassword"
      description: "ReqAccountSetTempPasswordto be Deleted"
      operationId: "deleteReqAccountSetTempPassword"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /reqshopcashreconciliation:
    get:
      summary: "Entity to be fetched is ReqShopCashReconciliation"
      description: "ReqShopCashReconciliation Entity to be fetched"
      operationId: "getOperationReqShopCashReconciliation"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqShopCashReconciliation"
    post:
      summary: "To Create a new record for the entity: ReqShopCashReconciliation"
      description: "ReqShopCashReconciliationto be posted"
      operationId: "postOperationReqShopCashReconciliation"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqShopCashReconciliation"
        in: "body"
        description: "ReqShopCashReconciliationto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqShopCashReconciliation"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqShopCashReconciliation"
      description: "ReqShopCashReconciliationto be Updated"
      operationId: "updateReqShopCashReconciliation"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqShopCashReconciliationobject that needs to be added to the\
          \ store"
        required: true
        schema:
          $ref: "#/definitions/ReqShopCashReconciliation"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ReqShopCashReconciliation"
      description: "ReqShopCashReconciliationto be Deleted"
      operationId: "deleteReqShopCashReconciliation"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /respaccountmakepayment:
    get:
      summary: "Entity to be fetched is RespAccountMakePayment"
      description: "RespAccountMakePayment Entity to be fetched"
      operationId: "getOperationRespAccountMakePayment"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "paymentId"
        in: "query"
        description: "paymentId Entity to be Fetched"
        required: true
        type: "string"
      - name: "orderId"
        in: "query"
        description: "orderId Entity to be Fetched"
        required: true
        type: "string"
      - name: "referenceId"
        in: "query"
        description: "referenceId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RespAccountMakePayment"
    post:
      summary: "To Create a new record for the entity: RespAccountMakePayment"
      description: "RespAccountMakePaymentto be posted"
      operationId: "postOperationRespAccountMakePayment"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RespAccountMakePayment"
        in: "body"
        description: "RespAccountMakePaymentto be posted"
        required: true
        schema:
          $ref: "#/definitions/RespAccountMakePayment"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RespAccountMakePayment"
      description: "RespAccountMakePaymentto be Updated"
      operationId: "updateRespAccountMakePayment"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RespAccountMakePaymentobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/RespAccountMakePayment"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RespAccountMakePayment"
      description: "RespAccountMakePaymentto be Deleted"
      operationId: "deleteRespAccountMakePayment"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "paymentId"
        in: "query"
        description: "paymentId to be deleted"
        required: true
        type: "string"
      - name: "orderId"
        in: "query"
        description: "orderId to be deleted"
        required: true
        type: "string"
      - name: "referenceId"
        in: "query"
        description: "referenceId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /statusflag:
    get:
      summary: "Entity to be fetched is StatusFlag"
      description: "StatusFlag Entity to be fetched"
      operationId: "getOperationStatusFlag"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/StatusFlag"
    post:
      summary: "To Create a new record for the entity: StatusFlag"
      description: "StatusFlagto be posted"
      operationId: "postOperationStatusFlag"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "StatusFlag"
        in: "body"
        description: "StatusFlagto be posted"
        required: true
        schema:
          $ref: "#/definitions/StatusFlag"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing StatusFlag"
      description: "StatusFlagto be Updated"
      operationId: "updateStatusFlag"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "StatusFlagobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/StatusFlag"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a StatusFlag"
      description: "StatusFlagto be Deleted"
      operationId: "deleteStatusFlag"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /respaccountgetflags:
    get:
      summary: "Entity to be fetched is RespAccountGetFlags"
      description: "RespAccountGetFlags Entity to be fetched"
      operationId: "getOperationRespAccountGetFlags"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RespAccountGetFlags"
    post:
      summary: "To Create a new record for the entity: RespAccountGetFlags"
      description: "RespAccountGetFlagsto be posted"
      operationId: "postOperationRespAccountGetFlags"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RespAccountGetFlags"
        in: "body"
        description: "RespAccountGetFlagsto be posted"
        required: true
        schema:
          $ref: "#/definitions/RespAccountGetFlags"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RespAccountGetFlags"
      description: "RespAccountGetFlagsto be Updated"
      operationId: "updateRespAccountGetFlags"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RespAccountGetFlagsobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/RespAccountGetFlags"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RespAccountGetFlags"
      description: "RespAccountGetFlagsto be Deleted"
      operationId: "deleteRespAccountGetFlags"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /reqtransgetpokerhands:
    get:
      summary: "Entity to be fetched is ReqTransGetPokerHands"
      description: "ReqTransGetPokerHands Entity to be fetched"
      operationId: "getOperationReqTransGetPokerHands"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "subscriptionId"
        in: "query"
        description: "subscriptionId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqTransGetPokerHands"
    post:
      summary: "To Create a new record for the entity: ReqTransGetPokerHands"
      description: "ReqTransGetPokerHandsto be posted"
      operationId: "postOperationReqTransGetPokerHands"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqTransGetPokerHands"
        in: "body"
        description: "ReqTransGetPokerHandsto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqTransGetPokerHands"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqTransGetPokerHands"
      description: "ReqTransGetPokerHandsto be Updated"
      operationId: "updateReqTransGetPokerHands"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqTransGetPokerHandsobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/ReqTransGetPokerHands"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ReqTransGetPokerHands"
      description: "ReqTransGetPokerHandsto be Deleted"
      operationId: "deleteReqTransGetPokerHands"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "subscriptionId"
        in: "query"
        description: "subscriptionId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /respaccountgetvideostreams:
    get:
      summary: "Entity to be fetched is RespAccountGetVideoStreams"
      description: "RespAccountGetVideoStreams Entity to be fetched"
      operationId: "getOperationRespAccountGetVideoStreams"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RespAccountGetVideoStreams"
    post:
      summary: "To Create a new record for the entity: RespAccountGetVideoStreams"
      description: "RespAccountGetVideoStreamsto be posted"
      operationId: "postOperationRespAccountGetVideoStreams"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RespAccountGetVideoStreams"
        in: "body"
        description: "RespAccountGetVideoStreamsto be posted"
        required: true
        schema:
          $ref: "#/definitions/RespAccountGetVideoStreams"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RespAccountGetVideoStreams"
      description: "RespAccountGetVideoStreamsto be Updated"
      operationId: "updateRespAccountGetVideoStreams"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RespAccountGetVideoStreamsobject that needs to be added to the\
          \ store"
        required: true
        schema:
          $ref: "#/definitions/RespAccountGetVideoStreams"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RespAccountGetVideoStreams"
      description: "RespAccountGetVideoStreamsto be Deleted"
      operationId: "deleteRespAccountGetVideoStreams"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /username:
    get:
      summary: "Entity to be fetched is UserName"
      description: "UserName Entity to be fetched"
      operationId: "getOperationUserName"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/UserName"
    post:
      summary: "To Create a new record for the entity: UserName"
      description: "UserNameto be posted"
      operationId: "postOperationUserName"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "UserName"
        in: "body"
        description: "UserNameto be posted"
        required: true
        schema:
          $ref: "#/definitions/UserName"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing UserName"
      description: "UserNameto be Updated"
      operationId: "updateUserName"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "UserNameobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/UserName"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a UserName"
      description: "UserNameto be Deleted"
      operationId: "deleteUserName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /reqaccountgetlimit:
    get:
      summary: "Entity to be fetched is ReqAccountGetLimit"
      description: "ReqAccountGetLimit Entity to be fetched"
      operationId: "getOperationReqAccountGetLimit"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqAccountGetLimit"
    post:
      summary: "To Create a new record for the entity: ReqAccountGetLimit"
      description: "ReqAccountGetLimitto be posted"
      operationId: "postOperationReqAccountGetLimit"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqAccountGetLimit"
        in: "body"
        description: "ReqAccountGetLimitto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountGetLimit"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqAccountGetLimit"
      description: "ReqAccountGetLimitto be Updated"
      operationId: "updateReqAccountGetLimit"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqAccountGetLimitobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountGetLimit"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ReqAccountGetLimit"
      description: "ReqAccountGetLimitto be Deleted"
      operationId: "deleteReqAccountGetLimit"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /paymethodredirect:
    get:
      summary: "Entity to be fetched is PayMethodRedirect"
      description: "PayMethodRedirect Entity to be fetched"
      operationId: "getOperationPayMethodRedirect"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/PayMethodRedirect"
    post:
      summary: "To Create a new record for the entity: PayMethodRedirect"
      description: "PayMethodRedirectto be posted"
      operationId: "postOperationPayMethodRedirect"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "PayMethodRedirect"
        in: "body"
        description: "PayMethodRedirectto be posted"
        required: true
        schema:
          $ref: "#/definitions/PayMethodRedirect"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing PayMethodRedirect"
      description: "PayMethodRedirectto be Updated"
      operationId: "updatePayMethodRedirect"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "PayMethodRedirectobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/PayMethodRedirect"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a PayMethodRedirect"
      description: "PayMethodRedirectto be Deleted"
      operationId: "deletePayMethodRedirect"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /respbetstatus:
    get:
      summary: "Entity to be fetched is RespBetStatus"
      description: "RespBetStatus Entity to be fetched"
      operationId: "getOperationRespBetStatus"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RespBetStatus"
    post:
      summary: "To Create a new record for the entity: RespBetStatus"
      description: "RespBetStatusto be posted"
      operationId: "postOperationRespBetStatus"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RespBetStatus"
        in: "body"
        description: "RespBetStatusto be posted"
        required: true
        schema:
          $ref: "#/definitions/RespBetStatus"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RespBetStatus"
      description: "RespBetStatusto be Updated"
      operationId: "updateRespBetStatus"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RespBetStatusobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/RespBetStatus"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RespBetStatus"
      description: "RespBetStatusto be Deleted"
      operationId: "deleteRespBetStatus"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /addrunitno:
    get:
      summary: "Entity to be fetched is AddrUnitNo"
      description: "AddrUnitNo Entity to be fetched"
      operationId: "getOperationAddrUnitNo"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/AddrUnitNo"
    post:
      summary: "To Create a new record for the entity: AddrUnitNo"
      description: "AddrUnitNoto be posted"
      operationId: "postOperationAddrUnitNo"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "AddrUnitNo"
        in: "body"
        description: "AddrUnitNoto be posted"
        required: true
        schema:
          $ref: "#/definitions/AddrUnitNo"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing AddrUnitNo"
      description: "AddrUnitNoto be Updated"
      operationId: "updateAddrUnitNo"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "AddrUnitNoobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/AddrUnitNo"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a AddrUnitNo"
      description: "AddrUnitNoto be Deleted"
      operationId: "deleteAddrUnitNo"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /combineddividend:
    get:
      summary: "Entity to be fetched is CombinedDividend"
      description: "CombinedDividend Entity to be fetched"
      operationId: "getOperationCombinedDividend"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/CombinedDividend"
    post:
      summary: "To Create a new record for the entity: CombinedDividend"
      description: "CombinedDividendto be posted"
      operationId: "postOperationCombinedDividend"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "CombinedDividend"
        in: "body"
        description: "CombinedDividendto be posted"
        required: true
        schema:
          $ref: "#/definitions/CombinedDividend"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing CombinedDividend"
      description: "CombinedDividendto be Updated"
      operationId: "updateCombinedDividend"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "CombinedDividendobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/CombinedDividend"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a CombinedDividend"
      description: "CombinedDividendto be Deleted"
      operationId: "deleteCombinedDividend"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /totalstaked:
    get:
      summary: "Entity to be fetched is TotalStaked"
      description: "TotalStaked Entity to be fetched"
      operationId: "getOperationTotalStaked"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/TotalStaked"
    post:
      summary: "To Create a new record for the entity: TotalStaked"
      description: "TotalStakedto be posted"
      operationId: "postOperationTotalStaked"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "TotalStaked"
        in: "body"
        description: "TotalStakedto be posted"
        required: true
        schema:
          $ref: "#/definitions/TotalStaked"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing TotalStaked"
      description: "TotalStakedto be Updated"
      operationId: "updateTotalStaked"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "TotalStakedobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/TotalStaked"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a TotalStaked"
      description: "TotalStakedto be Deleted"
      operationId: "deleteTotalStaked"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /addrstreetname:
    get:
      summary: "Entity to be fetched is AddrStreetName"
      description: "AddrStreetName Entity to be fetched"
      operationId: "getOperationAddrStreetName"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/AddrStreetName"
    post:
      summary: "To Create a new record for the entity: AddrStreetName"
      description: "AddrStreetNameto be posted"
      operationId: "postOperationAddrStreetName"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "AddrStreetName"
        in: "body"
        description: "AddrStreetNameto be posted"
        required: true
        schema:
          $ref: "#/definitions/AddrStreetName"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing AddrStreetName"
      description: "AddrStreetNameto be Updated"
      operationId: "updateAddrStreetName"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "AddrStreetNameobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/AddrStreetName"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a AddrStreetName"
      description: "AddrStreetNameto be Deleted"
      operationId: "deleteAddrStreetName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /status:
    get:
      summary: "Entity to be fetched is Status"
      description: "Status Entity to be fetched"
      operationId: "getOperationStatus"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/Status"
    post:
      summary: "To Create a new record for the entity: Status"
      description: "Statusto be posted"
      operationId: "postOperationStatus"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "Status"
        in: "body"
        description: "Statusto be posted"
        required: true
        schema:
          $ref: "#/definitions/Status"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing Status"
      description: "Statusto be Updated"
      operationId: "updateStatus"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "Statusobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/Status"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a Status"
      description: "Statusto be Deleted"
      operationId: "deleteStatus"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /paymentitem:
    get:
      summary: "Entity to be fetched is PaymentItem"
      description: "PaymentItem Entity to be fetched"
      operationId: "getOperationPaymentItem"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "paymentId"
        in: "query"
        description: "paymentId Entity to be Fetched"
        required: true
        type: "string"
      - name: "payMethodId"
        in: "query"
        description: "payMethodId Entity to be Fetched"
        required: true
        type: "string"
      - name: "callId"
        in: "query"
        description: "callId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/PaymentItem"
    post:
      summary: "To Create a new record for the entity: PaymentItem"
      description: "PaymentItemto be posted"
      operationId: "postOperationPaymentItem"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "PaymentItem"
        in: "body"
        description: "PaymentItemto be posted"
        required: true
        schema:
          $ref: "#/definitions/PaymentItem"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing PaymentItem"
      description: "PaymentItemto be Updated"
      operationId: "updatePaymentItem"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "PaymentItemobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/PaymentItem"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a PaymentItem"
      description: "PaymentItemto be Deleted"
      operationId: "deletePaymentItem"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "paymentId"
        in: "query"
        description: "paymentId to be deleted"
        required: true
        type: "string"
      - name: "payMethodId"
        in: "query"
        description: "payMethodId to be deleted"
        required: true
        type: "string"
      - name: "callId"
        in: "query"
        description: "callId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /provider:
    get:
      summary: "Entity to be fetched is Provider"
      description: "Provider Entity to be fetched"
      operationId: "getOperationProvider"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/Provider"
    post:
      summary: "To Create a new record for the entity: Provider"
      description: "Providerto be posted"
      operationId: "postOperationProvider"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "Provider"
        in: "body"
        description: "Providerto be posted"
        required: true
        schema:
          $ref: "#/definitions/Provider"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing Provider"
      description: "Providerto be Updated"
      operationId: "updateProvider"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "Providerobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/Provider"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a Provider"
      description: "Providerto be Deleted"
      operationId: "deleteProvider"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /resptransgetpoolbetitems:
    get:
      summary: "Entity to be fetched is RespTransGetPoolBetItems"
      description: "RespTransGetPoolBetItems Entity to be fetched"
      operationId: "getOperationRespTransGetPoolBetItems"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RespTransGetPoolBetItems"
    post:
      summary: "To Create a new record for the entity: RespTransGetPoolBetItems"
      description: "RespTransGetPoolBetItemsto be posted"
      operationId: "postOperationRespTransGetPoolBetItems"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RespTransGetPoolBetItems"
        in: "body"
        description: "RespTransGetPoolBetItemsto be posted"
        required: true
        schema:
          $ref: "#/definitions/RespTransGetPoolBetItems"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RespTransGetPoolBetItems"
      description: "RespTransGetPoolBetItemsto be Updated"
      operationId: "updateRespTransGetPoolBetItems"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RespTransGetPoolBetItemsobject that needs to be added to the\
          \ store"
        required: true
        schema:
          $ref: "#/definitions/RespTransGetPoolBetItems"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RespTransGetPoolBetItems"
      description: "RespTransGetPoolBetItemsto be Deleted"
      operationId: "deleteRespTransGetPoolBetItems"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /transferlog:
    get:
      summary: "Entity to be fetched is TransferLog"
      description: "TransferLog Entity to be fetched"
      operationId: "getOperationTransferLog"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/TransferLog"
    post:
      summary: "To Create a new record for the entity: TransferLog"
      description: "TransferLogto be posted"
      operationId: "postOperationTransferLog"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "TransferLog"
        in: "body"
        description: "TransferLogto be posted"
        required: true
        schema:
          $ref: "#/definitions/TransferLog"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing TransferLog"
      description: "TransferLogto be Updated"
      operationId: "updateTransferLog"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "TransferLogobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/TransferLog"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a TransferLog"
      description: "TransferLogto be Deleted"
      operationId: "deleteTransferLog"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /reqaccountgetcampaigns:
    get:
      summary: "Entity to be fetched is ReqAccountGetCampaigns"
      description: "ReqAccountGetCampaigns Entity to be fetched"
      operationId: "getOperationReqAccountGetCampaigns"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqAccountGetCampaigns"
    post:
      summary: "To Create a new record for the entity: ReqAccountGetCampaigns"
      description: "ReqAccountGetCampaignsto be posted"
      operationId: "postOperationReqAccountGetCampaigns"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqAccountGetCampaigns"
        in: "body"
        description: "ReqAccountGetCampaignsto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountGetCampaigns"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqAccountGetCampaigns"
      description: "ReqAccountGetCampaignsto be Updated"
      operationId: "updateReqAccountGetCampaigns"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqAccountGetCampaignsobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountGetCampaigns"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ReqAccountGetCampaigns"
      description: "ReqAccountGetCampaignsto be Deleted"
      operationId: "deleteReqAccountGetCampaigns"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /updatestatus:
    get:
      summary: "Entity to be fetched is UpdateStatus"
      description: "UpdateStatus Entity to be fetched"
      operationId: "getOperationUpdateStatus"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "betId"
        in: "query"
        description: "betId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/UpdateStatus"
    post:
      summary: "To Create a new record for the entity: UpdateStatus"
      description: "UpdateStatusto be posted"
      operationId: "postOperationUpdateStatus"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "UpdateStatus"
        in: "body"
        description: "UpdateStatusto be posted"
        required: true
        schema:
          $ref: "#/definitions/UpdateStatus"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing UpdateStatus"
      description: "UpdateStatusto be Updated"
      operationId: "updateUpdateStatus"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "UpdateStatusobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/UpdateStatus"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a UpdateStatus"
      description: "UpdateStatusto be Deleted"
      operationId: "deleteUpdateStatus"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "betId"
        in: "query"
        description: "betId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /resptransgetpokerhands:
    get:
      summary: "Entity to be fetched is RespTransGetPokerHands"
      description: "RespTransGetPokerHands Entity to be fetched"
      operationId: "getOperationRespTransGetPokerHands"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RespTransGetPokerHands"
    post:
      summary: "To Create a new record for the entity: RespTransGetPokerHands"
      description: "RespTransGetPokerHandsto be posted"
      operationId: "postOperationRespTransGetPokerHands"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RespTransGetPokerHands"
        in: "body"
        description: "RespTransGetPokerHandsto be posted"
        required: true
        schema:
          $ref: "#/definitions/RespTransGetPokerHands"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RespTransGetPokerHands"
      description: "RespTransGetPokerHandsto be Updated"
      operationId: "updateRespTransGetPokerHands"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RespTransGetPokerHandsobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/RespTransGetPokerHands"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RespTransGetPokerHands"
      description: "RespTransGetPokerHandsto be Deleted"
      operationId: "deleteRespTransGetPokerHands"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /moneybookersdetails:
    get:
      summary: "Entity to be fetched is MoneybookersDetails"
      description: "MoneybookersDetails Entity to be fetched"
      operationId: "getOperationMoneybookersDetails"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "callId"
        in: "query"
        description: "callId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/MoneybookersDetails"
    post:
      summary: "To Create a new record for the entity: MoneybookersDetails"
      description: "MoneybookersDetailsto be posted"
      operationId: "postOperationMoneybookersDetails"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "MoneybookersDetails"
        in: "body"
        description: "MoneybookersDetailsto be posted"
        required: true
        schema:
          $ref: "#/definitions/MoneybookersDetails"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing MoneybookersDetails"
      description: "MoneybookersDetailsto be Updated"
      operationId: "updateMoneybookersDetails"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "MoneybookersDetailsobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/MoneybookersDetails"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a MoneybookersDetails"
      description: "MoneybookersDetailsto be Deleted"
      operationId: "deleteMoneybookersDetails"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "callId"
        in: "query"
        description: "callId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /redeemedfreebettokens:
    get:
      summary: "Entity to be fetched is RedeemedFreebetTokens"
      description: "RedeemedFreebetTokens Entity to be fetched"
      operationId: "getOperationRedeemedFreebetTokens"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RedeemedFreebetTokens"
    post:
      summary: "To Create a new record for the entity: RedeemedFreebetTokens"
      description: "RedeemedFreebetTokensto be posted"
      operationId: "postOperationRedeemedFreebetTokens"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RedeemedFreebetTokens"
        in: "body"
        description: "RedeemedFreebetTokensto be posted"
        required: true
        schema:
          $ref: "#/definitions/RedeemedFreebetTokens"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RedeemedFreebetTokens"
      description: "RedeemedFreebetTokensto be Updated"
      operationId: "updateRedeemedFreebetTokens"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RedeemedFreebetTokensobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/RedeemedFreebetTokens"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RedeemedFreebetTokens"
      description: "RedeemedFreebetTokensto be Deleted"
      operationId: "deleteRedeemedFreebetTokens"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /reqaccountselfexclude:
    get:
      summary: "Entity to be fetched is ReqAccountSelfExclude"
      description: "ReqAccountSelfExclude Entity to be fetched"
      operationId: "getOperationReqAccountSelfExclude"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "selfExclusionId"
        in: "query"
        description: "selfExclusionId Entity to be Fetched"
        required: true
        type: "string"
      - name: "shopId"
        in: "query"
        description: "shopId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqAccountSelfExclude"
    post:
      summary: "To Create a new record for the entity: ReqAccountSelfExclude"
      description: "ReqAccountSelfExcludeto be posted"
      operationId: "postOperationReqAccountSelfExclude"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqAccountSelfExclude"
        in: "body"
        description: "ReqAccountSelfExcludeto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountSelfExclude"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqAccountSelfExclude"
      description: "ReqAccountSelfExcludeto be Updated"
      operationId: "updateReqAccountSelfExclude"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqAccountSelfExcludeobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountSelfExclude"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ReqAccountSelfExclude"
      description: "ReqAccountSelfExcludeto be Deleted"
      operationId: "deleteReqAccountSelfExclude"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "selfExclusionId"
        in: "query"
        description: "selfExclusionId to be deleted"
        required: true
        type: "string"
      - name: "shopId"
        in: "query"
        description: "shopId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /proofofagecard:
    get:
      summary: "Entity to be fetched is ProofOfAgeCard"
      description: "ProofOfAgeCard Entity to be fetched"
      operationId: "getOperationProofOfAgeCard"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ProofOfAgeCard"
    post:
      summary: "To Create a new record for the entity: ProofOfAgeCard"
      description: "ProofOfAgeCardto be posted"
      operationId: "postOperationProofOfAgeCard"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ProofOfAgeCard"
        in: "body"
        description: "ProofOfAgeCardto be posted"
        required: true
        schema:
          $ref: "#/definitions/ProofOfAgeCard"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ProofOfAgeCard"
      description: "ProofOfAgeCardto be Updated"
      operationId: "updateProofOfAgeCard"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ProofOfAgeCardobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/ProofOfAgeCard"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ProofOfAgeCard"
      description: "ProofOfAgeCardto be Deleted"
      operationId: "deleteProofOfAgeCard"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /configset:
    get:
      summary: "Entity to be fetched is ConfigSet"
      description: "ConfigSet Entity to be fetched"
      operationId: "getOperationConfigSet"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ConfigSet"
    post:
      summary: "To Create a new record for the entity: ConfigSet"
      description: "ConfigSetto be posted"
      operationId: "postOperationConfigSet"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ConfigSet"
        in: "body"
        description: "ConfigSetto be posted"
        required: true
        schema:
          $ref: "#/definitions/ConfigSet"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ConfigSet"
      description: "ConfigSetto be Updated"
      operationId: "updateConfigSet"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ConfigSetobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/ConfigSet"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ConfigSet"
      description: "ConfigSetto be Deleted"
      operationId: "deleteConfigSet"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /reqgetlanguages:
    get:
      summary: "Entity to be fetched is ReqGetLanguages"
      description: "ReqGetLanguages Entity to be fetched"
      operationId: "getOperationReqGetLanguages"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqGetLanguages"
    post:
      summary: "To Create a new record for the entity: ReqGetLanguages"
      description: "ReqGetLanguagesto be posted"
      operationId: "postOperationReqGetLanguages"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqGetLanguages"
        in: "body"
        description: "ReqGetLanguagesto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqGetLanguages"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqGetLanguages"
      description: "ReqGetLanguagesto be Updated"
      operationId: "updateReqGetLanguages"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqGetLanguagesobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/ReqGetLanguages"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a ReqGetLanguages"
      description: "ReqGetLanguagesto be Deleted"
      operationId: "deleteReqGetLanguages"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /respaccountsessionbegin:
    get:
      summary: "Entity to be fetched is RespAccountSessionBegin"
      description: "RespAccountSessionBegin Entity to be fetched"
      operationId: "getOperationRespAccountSessionBegin"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "sessionId"
        in: "query"
        description: "sessionId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/RespAccountSessionBegin"
    post:
      summary: "To Create a new record for the entity: RespAccountSessionBegin"
      description: "RespAccountSessionBeginto be posted"
      operationId: "postOperationRespAccountSessionBegin"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "RespAccountSessionBegin"
        in: "body"
        description: "RespAccountSessionBeginto be posted"
        required: true
        schema:
          $ref: "#/definitions/RespAccountSessionBegin"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing RespAccountSessionBegin"
      description: "RespAccountSessionBeginto be Updated"
      operationId: "updateRespAccountSessionBegin"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "RespAccountSessionBeginobject that needs to be added to the\
          \ store"
        required: true
        schema:
          $ref: "#/definitions/RespAccountSessionBegin"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a RespAccountSessionBegin"
      description: "RespAccountSessionBeginto be Deleted"
      operationId: "deleteRespAccountSessionBegin"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "sessionId"
        in: "query"
        description: "sessionId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /termaccount:
    get:
      summary: "Entity to be fetched is TermAccount"
      description: "TermAccount Entity to be fetched"
      operationId: "getOperationTermAccount"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      - name: "payMethodId"
        in: "query"
        description: "payMethodId Entity to be Fetched"
        required: true
        type: "string"
      - name: "custId"
        in: "query"
        description: "custId Entity to be Fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/TermAccount"
    post:
      summary: "To Create a new record for the entity: TermAccount"
      description: "TermAccountto be posted"
      operationId: "postOperationTermAccount"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "TermAccount"
        in: "body"
        description: "TermAccountto be posted"
        required: true
        schema:
          $ref: "#/definitions/TermAccount"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing TermAccount"
      description: "TermAccountto be Updated"
      operationId: "updateTermAccount"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "TermAccountobject that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/TermAccount"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
    delete:
      summary: "Deletes a TermAccount"
      description: "TermAccountto be Deleted"
      operationId: "deleteTermAccount"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "payMethodId"
        in: "query"
        description: "payMethodId to be deleted"
        required: true
        type: "string"
      - name: "custId"
        in: "query"
        description: "custId to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
  /reqaccountgetstatusflags:
    get:
      summary: "Entity to be fetched is ReqAccountGetStatusFlags"
      description: "ReqAccountGetStatusFlags Entity to be fetched"
      operationId: "getOperationReqAccountGetStatusFlags"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of elements per page"
        required: true
        type: "integer"
      - name: "page"
        in: "query"
        description: "Page number"
        required: true
        type: "integer"
      responses:
        200:
          description: "Successful Response"
          schema:
            type: "object"
            properties:
              page:
                type: "integer"
                example: 5
              limit:
                type: "integer"
                example: 10
              totalPages:
                type: "integer"
                example: 10
              totalRecords:
                type: "integer"
                example: 100
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/ReqAccountGetStatusFlags"
    post:
      summary: "To Create a new record for the entity: ReqAccountGetStatusFlags"
      description: "ReqAccountGetStatusFlagsto be posted"
      operationId: "postOperationReqAccountGetStatusFlags"
      consumes:
      - "application/xml"
      - "application/json"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ReqAccountGetStatusFlags"
        in: "body"
        description: "ReqAccountGetStatusFlagsto be posted"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountGetStatusFlags"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid ID supplied"
    put:
      summary: "Update an existing ReqAccountGetStatusFlags"
      description: "ReqAccountGetStatusFlagsto be Updated"
      operationId: "updateReqAccountGetStatusFlags"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "body"
        in: "body"
        description: "ReqAccountGetStatusFlagsobject that needs to be added to the\
          \ store"
        required: true
        schema:
          $ref: "#/definitions/ReqAccountGetStatusFlags"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
[...]
